<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">Meu Mural</h2>
    <button [routerLink]="['/criarPensamento']" class="botao">
      Adicionar Pensamento
    </button>
  </header>

    <!-- ngIf cria a condição, e pode ter o else apresentando o NGTEMPLATE -->
  <div class="mural" *ngIf="listaPensamentos.length > 0, else semPensamentos">
    <div *ngFor="let pensamento of listaPensamentos">
      <app-pensamento [pensamento]="pensamento"></app-pensamento>
    </div>
  </div>
</section>

<!-- NGTEMPLATE cria o corpo do else para o pensamento-->
<ng-template #semPensamentos>
  <div class="ff-inter sem-pensamentos">
    <p>Ainda não há pensamentos cadastrados!</p>
  </div>
</ng-template>
